/* Reset CSS untuk mengatur margin dan padding menjadi 0 */
* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #bb9fce;
}

nav{
    margin-left: auto;
}

/* Style header */
header {
    background-color: rgb(255, 255, 255);
    color: #000000;
    text-align: center;
    padding: 20px 0;
    border-radius: 30px;
}


/* Style section */
section {
    padding: 10px;
    text-align: center;
}

.ttg {
    padding: 30px;
    border: 2px solid #444; /* Tambahkan properti border */
    border-radius: 5px; /* Tambahkan properti border-radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Tambahkan efek bayangan */
    margin: 0 auto; /* Untuk membuat div menjadi tengah secara horizontal */
    background-color: antiquewhite;
}

.riwayat {
    padding: 20px;
    border: 2px solid #444; /* Tambahkan properti border */
    border-radius: 10px; /* Tambahkan properti border-radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Tambahkan efek bayangan */
    margin: 0 auto; /* Untuk membuat div menjadi tengah secara horizontal */
    background-color: antiquewhite;
}

.hobi {
    padding: 20px;
    border: 2px solid #444; /* Tambahkan properti border */
    border-radius: 10px; /* Tambahkan properti border-radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Tambahkan efek bayangan */
    margin: 0 auto; /* Untuk membuat div menjadi tengah secara horizontal */
    background-color: antiquewhite;
}

.kontak {
    padding: 20px;
    border: 2px solid #444; /* Tambahkan properti border */
    border-radius: 10px; /* Tambahkan properti border-radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Tambahkan efek bayangan */
    margin: 0 auto; /* Untuk membuat div menjadi tengah secara horizontal */
    background-color: antiquewhite;
}
